<div class="container">
  <h2>Evidence</h2>


  <div class="panel panel-info">
    <div class="panel-heading" id="evidence_header">
      <b><%= @evidence.headline%></b>
    </div>
    <div class="panel-body" id="evidence_content">
      <p>Category: <%= @evidence.category %></p>
      <p>Description: <%= @evidence.description %><p>
      <p>Date achieved: <%= @evidence.date_achieved %></p>

      </div>
    </div>
  </div>
